.font-weight-bold {
	font-weight: bold;
	margin: 0;
}
.card {
	border: unset !important;
	height: 100%;
	width: 100%;
	max-width: 450px;
	margin: 32px 0px;
	&:hover {
		.ticket {
			background: #fff;
			color: #EF730D;
			border: 1px solid #EF730D;
			transition: all .3s;
		}
	}
}
.card--footer {
	display: flex;
}
.ticket {
	background-color: #EF730D;
	height: 35px;
	width: 100px;
	position: absolute;
	top: 15px;
	color: #FFFFFF;
	transition: all .3s;
}
.bg-secondary {
	background-color: #F4F4F4 !important;
}
.fs-12 {
	font-size: 12px;
}
.fs-22 {
	font-size: 22px;
}
.text-orange {
	color: #ED7109;
}
.btn {
	background-color: #2fae2a;
}
.rounded-circle {
	border-radius: 50% !important;
	width: 30px;
	height: 30px;
}


// card-blog

.card-blog {
	width: 100%;
	max-width: 454px;
	height: 484px;
}

.card-blog img {
	width: 100%;
	height: 225px;
}

.card-footer {
	background-color: #fff;
}