.dark-bg {
	background-color: #1E1E1E;
}
.dark-color {
	color: #1E1E1E;
}
.text-white {
	color: #EDEDED;
}
.text-orange {
	color: #EF730D;
}
.o-none {
	outline: 0px;
	border: 0px;
}
.fs-12 {
	font-size: 12px;
}
.fs-15 {
	font-size: 15px;
}
.fs-18 {
	font-size: 18px;
}
.fs-20 {
	font-size: 20px;
}
.fs-24 {
	font-size: 24px;
}
.fs-25 {
	font-size: 25px;
}
.fs-30 {
	font-size: 30px;
}
.fs-35 {
	font-size: 35px;
}
.fs-51 {
	font-size: 51px;
}
.fs-55 {
	font-size: 55px;
}
.pt-55 {
	padding: 2.5rem 0px;
}
.mt-16 {
	margin-top: 16px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-85 {
	margin-top: 85px;
}
.py-120 {
	padding: 120px 0px;
}
.p-75 {
	padding: 0 .75rem;
}
